@{
    ViewBag.Title = "ApiTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/CustomScripts/DataFactory.js"></script>

<h2>Web API tests</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 webApiTestOptions">
            <div>
                <a id="aApiTests_GetAllUsers" href="#">Get all users</a>
            </div>
            <div>
                <a id="aApiTests_GetUserWithId" href="#">Get user with ID</a>
                @Html.TextBox("tbApiTests_UserId", "", new { @class = "form-control", @style = "width:20%; display: inline-block; margin-left: 10px;" })
            </div>
            <div>
                <a id="aApiTests_GetAllTerritories" href="#">Get all territories</a>
            </div>
            <div>
                <a id="aApiTests_GetTerritoryWithId" href="#">Get territory with ID</a>
                @Html.TextBox("tbApiTests_TerritoryId", "", new { @class = "form-control", @style = "width:20%; display: inline-block; margin-left: 10px;" })
            </div>
        </div>
        <div class="col-md-9">
            @Html.Label("lbApiTests_ApiResponse", "Web API response")
            <div id="ApiTests_ApiResponse"></div>
        </div>
    </div>
</div>

@* ReSharper disable once ConstructorCallNotUsed *@
<script type="text/javascript">
    $(document).ready(function () {
        var config = {
            GetAllUsersLinkId: "aApiTests_GetAllUsers",
            GetUserWithIdLinkId: "aApiTests_GetUserWithId",
            UserIdTextboxId: "tbApiTests_UserId",
            GetAllTerritoriesLinkId: "aApiTests_GetAllTerritories",
            GetTerritoryWithIdLinkId: "aApiTests_GetTerritoryWithId",
            TerritoryIdTextboxId: "tbApiTests_TerritoryId"
        }

        new ApiTests(config);
    });
</script>