@{
    ViewBag.Title = "ApiTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/CustomScripts/DataFactory.js"></script>

<h2>Web API tests</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 webApiTestOptions">
            <div>
                <a id="aApiTests_GetAllUsers" href="#">Get all users</a>
            </div>
            <div>
                <a id="aApiTests_GetUserWithId" href="#">Get user with ID</a>
                @Html.TextBox("tbApiTests_UserId", "", new { @class = "form-control", @style = "width:20%; display: inline-block; margin-left: 10px;" })
            </div>
        </div>
        <div class="col-md-9">
            @Html.Label("lbApiTests_ApiResponse", "Web API response")
            <div id="ApiTests_ApiResponse"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#aApiTests_GetAllUsers").click(function () {
        var configAllUsers = {
            Address: "http://localhost:55529/api/users"
        };
        DataFactory.GetWebApiResponseInTextArea(configAllUsers);
    });

    $("#aApiTests_GetUserWithId").click(function () {
        var userId = $("#tbApiTests_UserId").val();

        if (!userId) {
            alert("Need to enter the ID of user!");
        }
        if (isNaN(userId)) {
            alert("Value entered must be a number!");
        } else {
            var configUserWithId = {
                Address: "http://localhost:55529/api/users/" + userId
            };
            DataFactory.GetWebApiResponseInTextArea(configUserWithId);
        }
    });
</script>