@{
    ViewBag.Title = "ApiTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Web API tests</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a id="aApiTests_GetAllUsers" href="#">Get all users</a>
        </div>
        <div class="col-md-9">
            @Html.Label("lbApiTests_ApiResponse", "Web API response")
            @*@Html.TextArea("taApiTests_ApiResponse", new {@class = "form-control", style = "", @readonly = true, wrap = "off"})*@
            <div id="ApiTests_ApiResponse"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#aApiTests_GetAllUsers").click(function () {
        $.ajax({
            url: 'http://localhost:55529/api/users',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var result = JSON.stringify(data);
                var testDiv = $("#ApiTests_ApiResponse");
                var textArea = "<textarea> " + result + "</textarea>";
                testDiv.append(textArea);
            },
            error: function(error) {
                alert("Failed to perform API request");
                console.log(error);
            }
        });
    });
</script>