@{
    ViewBag.Title = "User Access System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="Id" data-type="numeric" data-identifier="true">Id</th>
            <th data-column-id="FirstName">First name</th>
            <th data-column-id="LastName">Last name</th>
            <th data-column-id="LastSubscription">Last subscription</th>
            <th data-column-id="IsActiveAccount">Active</th>
            <th data-column-id="IsSuperUser">Administrator</th>
        </tr>
    </thead>
</table>

<div id="userGridActions" style="display: flex">
    <button id="btnAddUser" type="button" class="btn btn-primary" style="float: right">Add user</button>
    <button id="btnEditUser" type="button" class="btn btn-default" style="float: right">Update user</button>
    <button id="btnRemoveUser" type="button" class="btn btn-danger" style="float: right" data-request-address="@Url.Action("DeleteUser", "User")">Remove users</button>
</div>

<div id="popupAddUser" data-request-address="@Url.Action("AddUserPopup", "Home")"></div>
<div id="popupEditUser" data-request-address="@Url.Action("EditUser", "User")"></div>

@* ReSharper disable once ConstructorCallNotUsed *@
<script type="text/javascript">
    $(document).ready(function() {
        var config = {
            ButtonAddUserId: "btnAddUser",
            ButtonEditUserId: "btnEditUser",
            ButtonRemoveUserId: "btnRemoveUser",
            UsersGridId: "grid-basic",
            AddUserPopup: "popupAddUser",
            EditUserPopup: "popupEditUser"
        }

        new MainPage(config);
    });
</script>